{% extends "base.html" %}

{% block header %}
<header><a href="/" style="color: black;">EGM.</a></header>
{% endblock %}

{% block bar %}
<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <ul class="center">
      <li><a href="/about">ABOUT</a></li>
      <li class="divider">|</li>
      <li><a href="/work">WORK</a></li>
      <li class="divider">|</li>
      <li><a href="/events">EVENTS</a></li>
      <li class="divider">|</li>
      <li class="active"><a href="/contact">CONTACT</a></li>
    </ul>
  </section>
</nav>
{% endblock %}


{% block content %}

<div class="row">
  <div class="large-8 columns large-offset-2 column bio-text">  

    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- <form action="/contact/" method="post"> -->
    <form method="post">
      <p id="contact">Subject: <input type="text" name="subject"></p>
      <p id="contact">Your e-mail (optional): <input type="text" name="email"></p>
      <p id="contact">Message: <textarea name="message" rows="10" cols="50"></textarea></p>
      <input type="submit" value="Submit">
    </form>    

  </div>
</div>

<script>
//submit comment using ajax
//$('.submit').click(function() {
    //var data = {"subject": "test ajax",
    //            "sender": "asmoor@gmail.com",
    //            "body": "ajax test"}
//    $.ajax({
//        type : "POST",
//        url : "{{ url_for('contact') }}",
//    });
    //$.ajax({
    //    type : "POST",
    //    url : "{{ url_for('contact') }}",
    //    data: JSON.stringify(data, null, '\t'),
    //    contentType: 'application/json;charset=UTF-8',
    //    success: function(result) {
    //        console.log(result);
    //        if (result.success == 0) {
    //            alert(result.error_msg);
    //        }
    //    }
    //});
    //clear the input
//});
</script>
{% endblock %}